
@{
    ViewBag.Title = "Output";
}

<style>
    td {
        padding: 5px;
    }
</style>

<h2>Output</h2>
<table>
    <tr>
        <td>Mã nhân viên: </td>
        <td>
            @ViewBag.manv
        </td>
    </tr>

    <tr>
        <td>Họ tên: </td>
        <td>
            @ViewBag.hoten
        </td>
    </tr>

    <tr>
        <td>Lương: </td>
        <td>
            @ViewBag.luong
        </td>
    </tr>

    <tr>
        <td>Thưởng: </td>
        <td>
            @ViewBag.thuong
        </td>
    </tr>

    <tr>
        <td>Thực nhận: </td>
        <td>
            @ViewBag.thucnhan
        </td>
    </tr>
</table>

